/* Titouan JAMET - GrTP6 - Navigateur utilisé: Opera */
html{
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0%;
    padding-right: 0%;
    margin: 0%;
    width: 99vw;
}

body{
    margin-left: 0;
    max-height: 100vh;
    height: fit-content;
    margin-bottom: 10vh ;
    background-color: #eeeeee;
    background-repeat: no-repeat;
    background-size: 100vw, 50vh;
    font-family: Arial, Helvetica, sans-serif;
}


/*************HEADER & NAVBAR*****************/
header, nav{
    color: white;
    height: 15vh;
    position: fixed;
    top: 0;
    z-index: 150;
}

#name{
    position: relative;
    top: 2vh;
    left: 5vw;
    font-size: x-large;
}

header {
    background-color: #242031;
    font-size: large;
    left: 0;
    width:100vw;
}

nav{
    left: 50vw;
    width:100vw;
}

nav a{
    color: white;
}

nav table th{
    width: 10vw;
    height: 14.5vh;
    font-size: large;
}

nav table th:hover {
    background-color: #242080;
    filter: brightness(70%);    
  }



/*************MAIN PAGE*****************/
#background{
    position: relative;
    width: 99vw;
    height: 99vh;
    left: 0;
    filter: brightness(45%);   
    opacity: 95%;
}

main, footer{
    z-index: 5;
    position: relative;
    width: 90vw;
    left: 4.5vw;
    box-shadow: 1.5vh 1vh 5vh rgba(0, 0, 0, 0.5);
}

main{
    top: -20vh;
    height: 190vh;
    background-color: white;
}

#text-main-display{
    color: white;
    position: relative;
    top: -50vh;
    left: 35vw;
    width: fit-content;
    text-align: center;
}

#text-main-display h1{
    width: fit-content;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .2em; /* Adjust as needed */
    animation: 
        typing 2.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: white; }
}

#text-main-display hr{
    width: 20vw;
    background-color: white;
    border-radius: 10px;
    height: 0.5vh;

}

main section, main aside{
    top:-26.5vh;
    position: relative;
    height: 50vh;
}

section hr{
    position: relative;
    top: 40vh;
    background-color: #c87239;
    width: 70vw;
    border-radius: 10px;
    height: 1vh;
}

section h1, aside h1{
    position: relative;
    top: 5vh;
    left: 2vw;
    width: 30vw;
}


#next-event, #avis{
    width: 50%;
}

#avis{
    left: 50%;
    top: -79.5vh;
}

/****************FORMS*******************/
#form-background{
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    height: 100vh;
    width: 99vw;
    background-color: gray;
    filter: brightness(5%);
    opacity: 60%;
    display: none;
}

.connect-button-forms{
    position: fixed;
    z-index: 20;
    width: 40vw;
    height:fit-content;    
    border-radius: 2px;
    text-align: center;
    background-color: #eeeeee ;
}

input, textarea {
    position: relative;
    display: block;
    font-size: 16px;
    background: white;
    width: 30vw;
    border: 0;
    left: 5vw;
    margin: 15px -10px;
    padding: 10px 10px;
  }

button {
    position: relative;
    color: white;
    font-size: 16px;
    background-color: #242031;
    width: 31.5vw;
    border: 0;
    padding: 10px 0;
    margin-top: 10px;
    margin-left: -5px;
    cursor: pointer;
    margin: 15px -10px;
    padding: 10px 10px;
}

#login{
    top: 30vh;
    left: 29vw;
    display: none;
}

#register{
    top: 20vh;
    left: 29vw;
    display: none;
}


/***************FOOTER*******************/
footer{
    position: relative;
    top: -55vh;
    height: 35vh;
    background-color: #242031;
}