<html lang="fr">

<head>
    <!-- bootstrap -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/assets/fontawesome/css/all.css">
    <title id="title">Bienvenue</title>
    <script src="../static/assets/bootstrap/js/bootstrap.bundle.js"></script>
    <meta charset="utf-8">
</head>

<nav class="navbar border-bottom justify-content-between">
    <div class="container-fluid">
        <img src="../static/img/logo_balabox.png" alt="Logo" height="30" class="d-inline-block align-text-top">
        <form class="d-flex flex-column flex-sm-row justify-content-start align-items-start align-items-sm-center">
            <a href="/sa_groupsList"><button class="btn btn-outline-success me-2 mb-2 mb-sm-0" type="button">Gestion des classes</button></a>
            <a href="/sa_usersList"><button class="btn btn-outline-success me-2 mb-2 mb-sm-0" type="button">Gestion des utilisateurs</button></a>
            <a href="/disconnect"><button class="btn btn-outline-danger me-2 mb-2 mb-sm-0" type="button"><i class="fas fa-sign-out-alt"></i> </button> </a>
        </form>

    </div>
</nav>